<a href="https://colab.research.google.com/github/jawook/adventofcode2021/blob/main/Dec02a.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [91]:
import pandas as pd
inputloc = "/content/drive/MyDrive/Advent of Code/2021/Dec 02/input.csv"
df = pd.read_csv(inputloc, header = None)

In [92]:
df = df.rename(columns={0:"command"})
df['ident'] = df['command'].str[:1] #get the first letter of the command to determine direction
df['num'] = df['command'].str.replace(r'\D+', '').astype(int) #drop everything but numbers and cast as an integer for num
df['xmov'] = (df['ident'] == 'f') * (df['num']) #if ident is f, this is and positive xmov
df['cumxmov'] = df['xmov'].cumsum() #get a running total fo the x moves
df['ymov'] = ((df['ident'] == 'd') * (df['num'])) + ((df['ident'] == 'u') * (-df['num'])) #if ident is a u this is a negative y move, if d this is a positive y move
df['cumymov'] = df['ymov'].cumsum() #get a running total of the y moves
df.tail()

       command ident  num  xmov  cumxmov  ymov  cumymov
995  forward 4     f    4     4     1841     0      913
996     down 5     d    5     0     1841     5      918
997     down 3     d    3     0     1841     3      921
998       up 5     u    5     0     1841    -5      916
999  forward 4     f    4     4     1845     0      916

In [93]:
1845 * 916

1690020