<a href="https://colab.research.google.com/github/jawook/adventofcode2021/blob/main/Dec01b.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
inputloc = "/content/drive/MyDrive/Advent of Code/2021/Dec 01a/input.csv"

In [6]:
df = pd.read_csv(inputloc, header = None)

In [7]:
df = df.rename(columns={0:"depth"})

In [14]:
df['roll'] = df['depth'].rolling(window = 3).sum()
df

      depth    roll       pct  increase
0       184     NaN       NaN     False
1       205     NaN       NaN     False
2       211   600.0       NaN     False
3       213   629.0  0.048333      True
4       227   651.0  0.034976      True
...     ...     ...       ...       ...
1995   3273  9822.0  0.000204      True
1996   3272  9820.0 -0.000204     False
1997   3279  9824.0  0.000407      True
1998   3281  9832.0  0.000814      True
1999   3288  9848.0  0.001627      True

[2000 rows x 4 columns]

In [ ]:
df['pct'] = df['roll'].pct_change()

In [11]:
df['increase'] = df['pct'] > 0

In [13]:
df['increase'].value_counts()

True     1235
False     765
Name: increase, dtype: int64